<%= form_for(@car_reservation) do |f| %>
  <% if @car_reservation.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@car_reservation.errors.count, "error") %> prohibited this car_reservation from being saved:</h2>

      <ul>
      <% @car_reservation.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
