// Example using 'cosmo' bootswatch
//
// First import journal variables

@import "bootswatch/cosmo/variables";

$icon-font-path: "bootstrap-sass/assets/fonts/bootstrap/";

// Then bootstrap itself
@import "bootstrap";

// Bootstrap body padding for fixed navbar
body { padding-top: 60px; }

// And finally bootswatch style itself
@import "bootswatch/cosmo/bootswatch";

@import "font-awesome";

@import "bootstrap-datetimepicker.min";

@import "base";

@import "normalize";

@import "font-awesome-sprockets";
@import "font-awesome";
